* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins";
}

body {
  background-color: #ebebeb;
}

@font-face {
  font-family: "pixel";
  src: url("../../assets/font/VCR_OSD_MONO_1.001.ttf");
}
.intro {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}
.intro .logoHeader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Poppins";
  display: flex;
  align-items: center;
}
.intro .logoHeader .logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  padding-right: 10px;
}
.intro .logoHeader .active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.intro .logoHeader .fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.intro .logoHeader img {
  width: 80px;
}

@media (max-width: 737px) {
  .intro {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
  }
  .intro .logoHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  .intro .logoHeader .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    padding-right: 10px;
  }
  .intro .logoHeader .active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }
  .intro .logoHeader .fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
  .intro .logoHeader img {
    width: 80px;
  }
}
header nav {
  background-color: #f7f9f9;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
}
header nav .logoNav {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
header nav .logoNav span {
  font-family: "Poppins";
  font-size: 30px;
}
header nav .logoNav img {
  width: 60px;
}
header nav ul {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  padding-left: 150px;
  z-index: 2;
}
header nav ul li {
  padding: 7px;
  color: #d1d1d1;
  transition: 1s;
  cursor: pointer;
}
header nav ul li:hover {
  color: #a3a3a3;
}
header nav .menuContainer {
  opacity: 0;
  width: 25px;
  height: 25px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #f7f9f9;
  z-index: 2;
}

@media (max-width: 737px) {
  header nav .logoNav {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  header nav .logoNav span {
    font-family: "Poppins";
    font-size: 20px;
  }
  header nav .logoNav img {
    width: 40px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-right: 0px;
    padding-left: 0px;
    width: 150px;
    height: 100%;
    position: fixed;
    right: -150px;
    top: 0;
    background-color: #d1d1d1;
    transition: all 1s;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1254901961);
  }
  header nav ul li {
    margin-top: 10px;
    color: #f7f9f9;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1254901961);
    border-radius: 2;
  }
  header nav .show {
    right: 0px;
  }
  header nav .menuContainer {
    opacity: 1;
    width: 25px;
    height: 25px;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #f7f9f9;
    margin-right: 20px;
    transition: 1s;
    opacity: 100%;
  }
  header nav .opacity {
    transition: 1s;
    opacity: 50%;
    color: #a3a3a3;
  }
}
body {
  position: relative;
}
body .popupContainer {
  position: absolute;
  top: -455px;
  left: 0;
  right: 0;
  margin: auto;
  width: 420px;
  height: 450px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
  transition: 2s;
  border-radius: 5px;
  z-index: 3;
}
body .popupContainer .popup {
  width: 93%;
  height: 93%;
  align-items: center;
  border-radius: 10px;
  background-color: #f7f9f9;
  justify-content: center;
  position: relative;
}
body .popupContainer .popup p {
  font-family: "poppins";
  color: #a3a3a3;
  padding: 10px 20px 10px 20px;
  text-align: justify;
}
body .popupContainer .popup .logoPopup {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .popupContainer .popup .logoPopup span {
  font-size: 20px;
  font-family: "poppins";
}
body .popupContainer .popup .logoPopup img {
  width: 50px;
}
body .popupContainer .popup button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: -20px;
  color: #f7f9f9;
  cursor: pointer;
  border: none;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .top {
  top: 30px;
}

@media (max-width: 737px) {
  body {
    position: relative;
  }
  body .popupContainer {
    position: absolute;
    top: -520px;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 505px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
    transition: 2s;
    border-radius: 5px;
  }
  body .popupContainer .popup {
    width: 93%;
    height: 93%;
    align-items: center;
    border-radius: 10px;
    background-color: #f7f9f9;
    justify-content: center;
    position: relative;
  }
  body .popupContainer .popup p {
    font-family: "poppins";
    color: #a3a3a3;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
  body .popupContainer .popup .logoPopup {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .popupContainer .popup .logoPopup span {
    font-size: 20px;
    font-family: "poppins";
  }
  body .popupContainer .popup .logoPopup img {
    width: 50px;
  }
  body .popupContainer .popup button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -20px;
    color: #f7f9f9;
    cursor: pointer;
    border: none;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .top {
    top: 90px;
  }
}
body .blur {
  filter: blur(2px);
  transition: 1s;
  z-index: 1;
}
body .desblureado {
  filter: none;
  transition: 2s;
}

body main .exportacion {
  padding: 0px 20px 30px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
body main .exportacion h3 {
  padding: 10px 0px 10px 0px;
  color: #707070;
  font-size: 30px;
}
body main .exportacion p {
  padding: 0px 0px 15px 0px;
  color: #a3a3a3;
}
body main .exportacion #map {
  margin: auto;
  width: 100%;
  height: 400px;
  border: solid #f7f9f9 4px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
}
body main .exportacion #map:focus, body main .exportacion #map:active, body main .exportacion #map:hover {
  outline: red;
}
body main:focus, body main:active {
  outline: none;
}

@media (max-width: 737px) {
  body main .exportacion {
    padding: 0px 20px 30px 20px;
    background-color: #ebebeb;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }
  body main .exportacion h3 {
    padding: 10px 0px 10px 0px;
  }
  body main .exportacion p {
    padding: 0px 0px 15px 0px;
    color: #a3a3a3;
    text-align: justify;
  }
  body main .exportacion #map {
    margin: auto;
    width: 100%;
    height: 400px;
    border: solid #f7f9f9 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
  }
  body main .exportacion #map:focus, body main .exportacion #map:active {
    outline: none;
  }
  body main:focus, body main:active {
    outline: none;
  }
}
body main footer {
  background-color: #f7f9f9;
  width: 100%;
  height: 100px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  display: flex;
  justify-content: space-between;
}
body main footer .logoContainer {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
body main footer .logoContainer span {
  font-family: "Poppins";
  font-size: 20px;
}
body main footer .logoContainer img {
  width: 40px;
}
body main footer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
body main footer .info .flex a {
  display: flex;
  align-items: center;
  padding-right: 50px;
  color: #ebebeb;
  transition: 1s;
  font-size: 15px;
}
body main footer .info .flex a:hover {
  color: #d1d1d1;
}
body main footer .info .flex p {
  margin: 5px;
  color: #d1d1d1;
  transition: 1s;
}
body main footer .info .flex p:hover {
  color: #a3a3a3;
}
body main .copyR {
  width: 100%;
  height: 13px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .copyR p {
  font-family: "pixel";
  color: #a3a3a3;
  font-size: 10px;
}

@media (max-width: 737px) {
  body main footer {
    background-color: #f7f9f9;
    width: 100%;
    height: 160px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
    display: block;
  }
  body main footer .logoContainer {
    justify-content: center;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  body main footer .info {
    align-items: center;
    padding: 0px;
  }
  body main footer .info .flex a {
    padding-right: 0px;
    color: #d1d1d1;
  }
  body main footer .info .flex p {
    margin: 5px;
    color: #a3a3a3;
  }
  body main .copyR {
    width: 100%;
    height: 15px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .copyR p {
    font-family: "pixel";
    color: #a3a3a3;
    font-size: 14px;
  }
}
.sliderContainer {
  width: 100%;
  height: 400px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1882352941);
  overflow: hidden;
  position: relative;
}
.sliderContainer .slider {
  width: 300%;
  height: 100%;
  display: flex;
  transition: 1s all ease;
}
.sliderContainer .slider .sliderSection {
  width: 33.3333333333%;
  height: 100%;
  position: relative;
}
.sliderContainer .slider .sliderSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.sliderContainer .slider .sliderSection .textTitle01 {
  width: 400px;
  position: absolute;
  top: 5%;
  left: 7%;
  line-height: 50px;
  font-size: 50px;
}
.sliderContainer .slider .sliderSection .textTitle01 p {
  color: #fffef4;
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
}
.sliderContainer .slider .sliderSection .text01 {
  max-width: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
.sliderContainer .slider .sliderSection .text01 p {
  color: #fffef4;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
  padding-right: 20px;
  text-align: justify;
  line-height: 17px;
}
.sliderContainer .slider .sliderSection .textTitle02 {
  width: 400px;
  position: absolute;
  top: 5%;
  left: 7%;
  line-height: 50px;
  font-size: 50px;
}
.sliderContainer .slider .sliderSection .textTitle02 p {
  color: #fffef4;
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
}
.sliderContainer .slider .sliderSection .text02 {
  max-width: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
.sliderContainer .slider .sliderSection .text02 p {
  color: #fffef4;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
  padding-right: 20px;
  text-align: justify;
  line-height: 17px;
}
.sliderContainer .slider .sliderSection .textTitle03 {
  width: 400px;
  position: absolute;
  top: 5%;
  left: 7%;
  line-height: 50px;
  font-size: 50px;
}
.sliderContainer .slider .sliderSection .textTitle03 p {
  color: #fffef4;
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
}
.sliderContainer .slider .sliderSection .text03 {
  max-width: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
.sliderContainer .slider .sliderSection .text03 p {
  color: #fffef4;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
  padding-right: 20px;
  text-align: justify;
  line-height: 17px;
}
.sliderContainer .btnLeft,
.sliderContainer .btnRight {
  display: flex;
  position: absolute;
  top: 45%;
  font-size: 1.5rem;
  background-color: rgba(233, 233, 233, 0.1882352941);
  padding: 5px;
  font-weight: 900;
  cursor: pointer;
  color: rgba(73, 72, 72, 0.5058823529);
  transform: translate(0, -50%);
  transition: background-color 0.5s ease, color 0.2s ease;
  user-select: none;
}
.sliderContainer .btnLeft:hover,
.sliderContainer .btnRight:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.sliderContainer .btnLeft:active,
.sliderContainer .btnRight:active {
  color: white;
}
.sliderContainer .btnLeft {
  left: 10px;
  display: flex;
  justify-content: center;
  width: 35px;
  border-radius: 50%;
}
.sliderContainer .btnRight {
  display: flex;
  justify-content: center;
  width: 35px;
  right: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 737px) {
  .sliderContainer {
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1882352941);
    overflow: hidden;
    position: relative;
  }
  .sliderContainer .slider {
    width: 300%;
    height: 100%;
    display: flex;
    transition: 1s all ease;
  }
  .sliderContainer .slider .sliderSection {
    width: 33.3333333333%;
    height: 100%;
  }
  .sliderContainer .slider .sliderSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sliderContainer .slider .sliderSection .textTitle01 {
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    line-height: 50px;
    font-size: 50px;
  }
  .sliderContainer .slider .sliderSection .textTitle01 p {
    color: #f7f9f9;
    text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
  }
  .sliderContainer .slider .sliderSection .text01 {
    max-width: 90%;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  .sliderContainer .slider .sliderSection .text01 p {
    color: #f7f9f9;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
    padding-right: 20px;
    text-align: justify;
    line-height: 20px;
  }
  .sliderContainer .slider .sliderSection .textTitle02 {
    width: 90%;
    position: absolute;
    top: 5%;
    left: 7%;
    line-height: 50px;
    font-size: 50px;
  }
  .sliderContainer .slider .sliderSection .textTitle02 p {
    color: #f7f9f9;
    text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
  }
  .sliderContainer .slider .sliderSection .text02 {
    max-width: 100%;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  .sliderContainer .slider .sliderSection .text02 p {
    color: #f7f9f9;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
    padding-right: 20px;
    text-align: justify;
    line-height: 20px;
  }
  .sliderContainer .slider .sliderSection .textTitle03 {
    width: 90%;
    position: absolute;
    top: 5%;
    left: 7%;
    line-height: 50px;
    font-size: 50px;
  }
  .sliderContainer .slider .sliderSection .textTitle03 p {
    color: #f7f9f9;
    text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
  }
  .sliderContainer .slider .sliderSection .text03 {
    max-width: 100%;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  .sliderContainer .slider .sliderSection .text03 p {
    color: #f7f9f9;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
    padding-right: 20px;
    text-align: justify;
    line-height: 20px;
  }
  .sliderContainer .btnLeft,
  .sliderContainer .btnRight {
    display: flex;
    position: absolute;
    top: 45%;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3764705882);
    padding: 5px;
    font-weight: 900;
    cursor: pointer;
    color: rgba(73, 72, 72, 0.5058823529);
    transform: translate(0, -50%);
    transition: background-color 0.5s ease, color 0.2s ease;
    user-select: none;
  }
  .sliderContainer .btnLeft:hover,
  .sliderContainer .btnRight:hover {
    background-color: rgba(209, 209, 209, 0.502);
  }
  .sliderContainer .btnLeft:active,
  .sliderContainer .btnRight:active {
    color: white;
  }
  .sliderContainer .btnLeft {
    left: 10px;
    display: flex;
    justify-content: center;
    width: 35px;
    border-radius: 50%;
  }
  .sliderContainer .btnRight {
    display: flex;
    justify-content: center;
    width: 35px;
    right: 10px;
    border-radius: 50%;
  }
}
.form {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.form img {
  position: absolute;
  width: 500px;
  right: -60px;
  top: -50px;
  z-index: -1;
  opacity: 20%;
}
.form .hablemos {
  width: 50%;
  padding: 20px 20px 0px 100px;
}
.form .hablemos span {
  font-size: 25px;
  color: #707070;
}
.form .hablemos p {
  margin-top: 10px;
  line-height: 18px;
  color: #a3a3a3;
}
.form .formInputs {
  width: 50%;
}
.form .formInputs form {
  padding-top: 12px;
}
.form .formInputs form .input {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.form .formInputs form .input label {
  width: 100%;
  color: #707070;
  padding: 15px 0px 4px 0px;
  text-transform: uppercase;
  font-size: 12px;
}
.form .formInputs form .input input {
  width: 70%;
  height: 15px;
  background-color: #f7f9f9;
  outline: none;
  border: none;
  border-radius: 3px;
  height: 30px;
}
.form .formInputs form .buttonContainer {
  padding: 15px 0px 4px 50px;
}
.form .formInputs form .buttonContainer button {
  border: none;
  background-color: #d1d1d1;
  border-radius: 3px;
  width: 70%;
  cursor: pointer;
  color: #ebebeb;
  transition: 1s;
  outline: none;
}
.form .formInputs form .buttonContainer button:hover {
  background-color: #a3a3a3;
}

@media (max-width: 737px) {
  .form {
    width: 100%;
    height: 65vh;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .form img {
    position: absolute;
    width: 420px;
    right: -150px;
    top: 150px;
    z-index: -1;
    opacity: 20%;
  }
  .form .hablemos {
    width: 100%;
    padding: 0px 20px 20px 20px;
  }
  .form .hablemos span {
    font-size: 25px;
    color: #707070;
  }
  .form .hablemos p {
    margin-top: 10px;
    line-height: 18px;
    color: #a3a3a3;
  }
  .form .formInputs {
    width: 100%;
    padding: 0px 20px 30px 20px;
  }
  .form .formInputs form {
    padding-top: 0px;
  }
  .form .formInputs form .input {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    justify-content: center;
  }
  .form .formInputs form .input label {
    width: 100%;
    color: #707070;
    padding: 8px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .form .formInputs form .input input {
    width: 100%;
    height: 15px;
    background-color: #f7f9f9;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 30px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.062745098);
  }
  .form .formInputs form .buttonContainer {
    padding: 12px 0px 0px 0px;
    text-align: right;
  }
  .form .formInputs form .buttonContainer button {
    border: none;
    background-color: #d1d1d1;
    border-radius: 3px;
    width: 50%;
    height: 25px;
    cursor: pointer;
    color: #ebebeb;
    transition: 1s;
    outline: none;
  }
  .form .formInputs form .buttonContainer button:hover {
    background-color: #a3a3a3;
  }
}
.higiene {
  width: 100%;
  height: 200vh;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
}
.higiene h3 {
  color: #707070;
  font-size: 30px;
}
.higiene .imgContainer {
  width: 100%;
  position: relative;
  margin: 10px;
}
.higiene .imgContainer img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 20% 30%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
}
.higiene .imgContainer h4 {
  text-align: center;
  color: #fffef4;
  text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
  padding: 15px;
  font-size: 28px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
.higiene .higieneInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.higiene .higieneInfo .info {
  width: 30%;
  height: 100%;
  margin: 20px;
}
.higiene .higieneInfo .info h5 {
  color: #a3a3a3;
  font-size: 18px;
}
.higiene .higieneInfo .info p {
  color: #727272;
  font-size: 14px;
  text-align: justify;
}
.higiene .imgContainer02 {
  width: 100%;
  position: relative;
  margin: 10px;
}
.higiene .imgContainer02 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 0% 40%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
}
.higiene .imgContainer02 h4 {
  text-align: center;
  color: #fffef4;
  text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
  padding: 15px;
  font-size: 28px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 737px) {
  .higiene {
    width: 100%;
    height: 135vh;
    padding: 0px 0px 30px 0px;
    overflow: hidden;
  }
  .higiene h3 {
    color: #707070;
    font-size: 30px;
    padding: 15px;
  }
  .higiene .imgContainer {
    width: 100%;
    position: relative;
    margin: 0px;
  }
  .higiene .imgContainer img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 20% 30%;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  }
  .higiene .imgContainer h4 {
    text-align: center;
    color: #fffef4;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
    padding: 15px;
    font-size: 24px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
  .higiene .higieneInfo {
    width: 100%;
    display: inline-block;
    justify-content: space-around;
  }
  .higiene .higieneInfo .info {
    width: 90%;
    height: 100%;
    margin: 20px;
  }
  .higiene .higieneInfo .info h5 {
    color: #a3a3a3;
    font-size: 18px;
  }
  .higiene .higieneInfo .info p {
    color: #727272;
    font-size: 14px;
    text-align: justify;
  }
  .higiene .imgContainer02 {
    width: 100%;
    position: relative;
    margin: 0px;
  }
  .higiene .imgContainer02 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 0% 40%;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  }
  .higiene .imgContainer02 h4 {
    text-align: center;
    color: #fffef4;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
    padding: px;
    font-size: 28px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
